.tramiteCard {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 300px;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--blanco);
  border-style: hidden;
  border-radius: 5px;
  color: var(--negro);
  padding: 10px;
  gap: 10px;
}

.tramiteText {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.tramiteText p,
.tramiteText h5 {
  line-height: 1;
}

.tramiteCard:hover {
  background-color: var(--verde);
  color: var(--blanco);
}

.tramiteIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: hidden;
  border-radius: 50px;
  background-color: var(--azul);
  width: 40px;
  height: 40px;
  color: var(--blanco);
  padding: 10px;
}

.tramiteCardDocumentOptionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
  gap: 5px;
  margin-top: auto;
}

.tramiteCardEditOptionBtn,
.tramiteCardUploadOptionBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  border-width: 2px;
  border-style: solid;
  border-color: var(--azul);
  border-radius: 30px;
  background-color: var(--blanco);
  gap: 5px;
}

.tramiteCardEditOptionBtn:hover,
.tramiteCardUploadOptionBtn:hover {
  background-color: var(--azul);
  color: var(--blanco);
}

.tramiteCardUploadOptionLink {
  width: 100%;
  height: auto;
}
