@media (max-width: 575.98px) {

    .navbarMainContainer {
        justify-content: center;
    }

    .linksContainer {
        display:none;
    }

    .initSessionContainer {
        display:none ;
    }

  

    



    
}