html {
  --blanco: rgba(255, 255, 255, 1);
  --negro: rgba(0, 0, 0, 1);
  --verde: rgba(30, 223, 206, 1);
  --verdeFuerte: rgba(26, 196, 182, 1);
  --azul: rgba(76, 15, 255, 1);
  --blanco: rgba(255, 255, 255, 1);
  --grisLight: rgba(175, 175, 175, 0.05);
  --grisSuave: rgba(175, 175, 175, 1);
  --grisMedio: rgba(95, 95, 95, 1);
  --naranjo: rgba(252, 125, 74, 1);
  --amarillo: rgba(222, 201, 26, 1);
  --rosa: rgba(227, 99, 199, 1);
  --error: #e4032d;
  --ok: #009d4e;
  --Title: 600;
  --Link: 600;
  --Cuerpo: 400;
  --h1: 2.488em;
  --h2: 2.074em;
  --h3: 1.728em;
  --h4: 1.44em;
  --h5: 1.2em;
  --notification: 0.833em;
  --p: 14px;
  --bold: 700;
  --italic: italic;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--negro);
  font-family: "Poppins", sans-serif;
  background-color: var(--grisLight);
}

a {
  text-decoration: none;
  font-size: var(--p);
  font-weight: var(--Link);
}

a:hover {
  color: var(--azul);
}

.animLink:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--azul);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.animLink:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.animLink {
  display: inline-block;
  position: relative;
  color: var(--azul);
  text-decoration: none;
}

h1 {
  font-size: var(--h1);
  font-weight: var(--Title);
}

h2 {
  font-size: var(--h2);
  font-weight: var(--Title);
}

h3 {
  font-size: var(--h3);
  font-weight: var(--Title);
}

h4 {
  font-size: var(--h4);
  font-weight: var(--Title);
}

h5 {
  font-size: var(--h5);
  font-weight: var(--Title);
}

p {
  font-size: var(--p);
  font-weight: var(--Cuerpo);
}
