.loginPageMainWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.viewLoginPageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
  height: 100vh;
}

.headerLoginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.headerLoginContainer .logoContainer {
  width: 100%;
  height: auto;
}

.headerLoginContainer .logoContainer img {
  width: 100%;
  height: auto;
}

.userLoginFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  text-align: left;
  font-size: var(--p);
  background-color: var(--verde);
}

.form-check {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-check--passRecover {
  color: var(--grisMedio);
}

.form-check--passRecover:hover {
  color: var(--azul);
}

.userLoginForm--buttonsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.userLoginForm--btnSession,
.userLoginForm--btnCreate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 2.5rem;
  border-style: hidden;
  border-radius: 20px;
  font-weight: var(--bold);
  font-size: var(--p);
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 0.5rem;
}

.userLoginForm--btnSession {
  background-color: var(--azul);
  color: var(--blanco);
}

.userLoginForm--btnSession:hover {
  background-color: var(--verde);
  color: var(--azul);
}

.userLoginForm--btnCreate {
  color: var(--verde);
}

.userLoginForm--btnCreate:hover {
  background-color: var(--verde);
  color: var(--azul);
}
